[2014-08-22 15:03] jesusprubio opened #1 "IPv4Range reg expr not working"
Hi, after a while debugging I think that there's a problem with this reg. expr:

Thanks in advance :)

[2014-10-08 11:52] julianpollmann opened #2 "Discover not working / cannot push to hosts array"
When using discover method like that:

[code]

this error is thrown:

[code]

Thanks!

[2014-10-09 17:38] #1 closed, assigned to nobody

[2014-10-12 13:57] #2 closed, assigned to nobody

[2014-10-16 07:08] ThierrySans opened #3 "-O: Enable OS detection"
Hi,

It seems that a scan with the `-O` option (OS detection) does not return results. My options:

[code]

If I remove `-O`, it works.

Any idea why?

[2014-10-29 17:32] #3 closed, assigned to nobody

[2014-12-12 17:15] Gank opened #5 "Can't use node-libnmap"
Using NodeJS v0.10.33 I'm getting problems running node-libnmap.

After installing using,
[code]

And running this code,
[code]

I get,
[code]

Changing it to code to
[code]

I runs but i get the following output:
[code]

I installed nmap
[code]

[2015-01-30 14:45] cescofry commented on #5
`libnmap` will search for your `/usr/bin` path to see if nap is installed. Try to run `find / -name nmap` and see where your installation is.
Hint: if you are installing on Mac OS X it will probably be `/usr/local/bin/nmap`
That said I don't know if is an issue that libnmap wants to resolve.

[2015-03-07 16:02] vladei opened #7 "Application crashes after second execution"
Hi there :),

Thank you for writing this library. I've integrated node-libnmap to one of my applications and I run it using a cron job. When I initiate the server the job is running perfectly fine for the first time. When cron runs the job for second time the server crashes:

[code]
The job I've written is this:

[code]

[2015-03-15 15:37] jas- commented on #7
The `scanOptions` object looses scope during the second iteration of your scheduled task. Try this use case.

[code]

[2015-03-15 15:38] jas- commented on #5
@Gank, @cescofry's answer should have resolved this. Can you update the status of this?

[2015-03-17 03:35] #7 closed

[2015-03-17 03:35] #5 closed

[2015-04-18 13:07] Galdooo commented on #5
I have similar problem like @Gank, but @cescofry 's answer didn't resolved it. I'm using nmap - 6.47 under Windows 8.1 and here is the output error
E:\base\node_modules\node-libnmap\lib\node-libnmap.js:192
          throw new Error('The nmap binary was not found. Install nmap');
                ^
Error: The nmap binary was not found. Install nmap
    at E:\base\node_modules\node-libnmap\lib\node-l

[2015-04-18 14:28] jas- commented on #5
@Galdooo this issue was closed. Open a new issue.

[2015-04-18 16:08] Galdooo opened #8 "The nmap binary was not found. Install nmap"
I'm using Nodejs v0.12.0 and nmap v6.47 under windows 8.1.
If I write in command prompt "nmap -sn /some IP/" everything work, but when I use node-libnmap throw me error:
<pre><code>
require('node-libnmap').nmap('discover', function(err, report){
    if (err) throw err
    console.log(report)
})
</code></pre>
and here is the error:
<pre><code>
E:\base\node_modules\node-libnmap\lib\node-libnmap.js:1

[2015-04-23 21:55] Galdooo commented on #8
and I have this error when I use opts with directory of the nmap

<code>
                   ^
Error: Command failed: C:\WINDOWS\system32\cmd.exe /s /c "C:\Program Files (x86)
\Nmap -oG - -sn 192.168.0.193-223"
'C:\Program' is not recognized as an internal or external command,
operable program or batch file.

    at ChildProcess.exithandler (child_process.js:744:12)
    at ChildProcess.emit (events

[2015-04-25 04:22] jas- commented on #8
@Galdooo Can you provide a test case for the last post? (And thank you for creating a new issue).

I am not a windows guy but I believe the following should work:

[code]

[2015-04-27 08:14] Galdooo commented on #8
I tried this but without success it trow me error:
<code>
E:\base\node_modules\node-libnmap\lib\node-libnmap.js:192
          throw new Error('The nmap binary was not found. Install nmap');
                ^
Error: The nmap binary was not found. Install nmap
    at E:\base\node_modules\node-libnmap\lib\node-libnmap.js:192:17
    at FSReqWrap.cb [as oncomplete] (fs.js:228:19)
</code>
and when I tri

[2015-04-28 00:00] jas- commented on #8
@Galdooo I could really use a complete test case. A sample of the code you are using is beneficial vs. simply looking at the errors.

If the example below does not work then you may need to use a more verbose method of specifying the `nmap` binary. (See immediately following this example).

[code]

If the above example still isn't working then you may want to specify the options like so:

[code]

[2015-04-28 12:14] Galdooo commented on #8
It still give me <code>Error: The nmap binary was not found.</code>
but I found another solution without this nmap package
<code>
childProcess = require('child_process').spawn('C:\\Program Files (x86)\\Nmap\\nmap.exe',
				[here we write code which we want to execute ]);</code>
<code>childProcess.stdout.on('data', function (data) {
				console.log(data);
});
</code>

This is another technique to w

[2015-04-28 12:14] #8 closed

[2015-04-28 14:50] jas- commented on #8
@Galdooo, wow. You are a genius! Glad it is working for you.

[2015-05-05 14:36] carlskii opened #9 "NMAP Scripts"
Hi,

I need to include the `--script=ssl-cert -p 443 -v` script option as part of my scan.

Is it possible to configure this ?

[2015-05-08 17:10] jas- commented on #9
Not currently, but we do accept pull requests. See the contributing section of the README.md file.

[2015-05-08 17:10] #9 closed

[2015-07-14 23:14] teknetia opened #10 "Get MAC address of devices in scan"
I am aware that getting the MAC address of the device on the network requires elevated privileges but it is something I need so I have been investigating how to get this to trigger correctly. Is there a way to get the MAC address for each device and somehow trigger this elevated privilege mode?

[2015-07-15 16:10] lutzbickhardt opened #11 ".128, .64, ... not included ?"
my solution in tools.calculate:
      for (var i = start; i < end; i += split) {
        val= i + split - 1;
        str = octetsStart[0] + '.' + octetsStart[1] + '.' + octetsStart[2] + '.' + i + '-' +
          //((i + (split - 1) > 256) ? (i + (split - 1)) : (i + (split - 1) -1));
          (val == 256 ? val -1 : val);
        results.push(str);
      }

[2015-07-15 16:16] lutzbickhardt commented on #10
you need to execute as root
but then a different nmap output requires a modification of libnmap. if you want I can mail the solution (lutz AT bickhardt POINT fr)

[2015-07-15 17:19] jas- commented on #11
Can you create a `PR` for this?

[2015-07-15 17:22] jas- commented on #10
Please refer to my comment in [issue #3](https://github.com/jas-/node-libnmap/issues/3#issuecomment-60752218).

Privileged scanning with this tool is not supported but it can be accomplished.

[2015-07-15 17:22] #10 closed

[2015-07-16 10:35] lutzbickhardt commented on #11
sure, over the weekend!

it will also contain the sudo version yielding MAC and other stuff.

I am afraid that much of the code added will look like FORTRAN, though.

Also I had to introduce report["192.168.0.12"] instead of report[0].

Modify as you deem fit (actually I would like to see how it is coded "properly").

Cordialement

--------------------------
Lutz BICKHARDT
lutz@bickhardt.fr

NEW C

[2015-07-16 17:10] jas- commented on #11
@lutzbickhardt It really should do calculations similar to those shown in the [`tools.range()`](https://github.com/jas-/node-libnmap/blob/master/lib/node-libnmap.js#L426-L452) function to be account for addressing such as `192.168.1-255`

[2015-07-17 07:01] pangloss opened #12 "Crash when trying to scan with large netmasks"
For instance, if I specify a range of `10.0.0.0/21`, I get the following exception:

[code]

I got the same error testing with /21, /20, /19, /18, and did not test further.

[2015-07-17 13:13] jas- commented on #12
@pangloss This is covered in the `ulimit` section of the `readme` document. Please read the manual.

[2015-07-17 13:13] #12 closed

[2015-07-17 14:16] pangloss commented on #12
Rather than requiring clients to reconfigure their computer, which makes this library fairly useless, perhaps it would be better to limit the number of concurrent, if you know how.

[2015-07-17 15:08] lutzbickhardt commented on #11
?no worries, that part is not FORTRAN

Cordialement

--------------------------
Lutz BICKHARDT
lutz@bickhardt.fr

NEW COORDINATES !!!
(privat) Graumannsweg 42, D-22087 Hamburg, Germany
(Büro)  Borselstr. 3 - 7 (im Hof), D-22765 Hamburg, Germany

SKYPE: bickhardt

+49 172 3846086 (deutsches Handy / German cell phone)
+49 40 22758122 (privat Hamburg)
+49 40 39190921 (Büro Hamburg)
+33 6 18386906 (po

[2015-07-17 15:14] jas- commented on #12
@pangloss You're right, System limitations to protect file handle and socket handle limits are there for everyone to circumvent with clever programming. If you own a class A or B network perhaps you can find a nice paid for product as I am sure you have the budget for it. ;)

[2015-07-18 13:21] lutzbickhardt commented on #11
Hi Jason,

did the pull request. This was my first ever, so I hope it is what you expected.

All the other changes, I will eventually put in a wrapper around libnmap, that will keep things cleaner.

I saw that in your example .128, .64 were also missing. Did I really spot an error or was that intentional?

Cordialement

--------------------------
Lutz BICKHARDT
lutz@bickhardt.fr

NEW COORDINATES !

[2015-07-30 10:35] mrzmyr opened #14 "Suggest to install nmap with homebrew"
May you should suggest to install the binary `nmap` on other platforms than *nix.

OSX: `brew install nmap`

Source: http://superuser.com/a/863974/69046

[2015-07-30 12:57] jas- commented on #14
Forgive me but this is a confusing statement. The function [setup.check()](https://github.com/jas-/node-libnmap/blob/master/lib/node-libnmap.js#L182-L195) actually does what you are asking in regards to informing the implementer that the `nmap` binary is missing. Did it not do that on `OSX`?

[2015-07-30 13:51] mrzmyr commented on #14
Yes, sure it does. It could be helpful to have a simple reference in the `README.md` how to install the `nmap` binary. ([Maybe here](https://github.com/jas-/node-libnmap#nmap-binary))

[2015-07-30 14:36] mrzmyr opened #15 "Make timing template configurable"
As currently the [`-T4`](https://github.com/jas-/node-libnmap/blob/master/lib/node-libnmap.js#L78) limits the timing template, it would be great to make it configurable.

In case PRs are welcome, let me know which API design you would use.

[2015-07-30 17:19] jas- commented on #14
Thanks for the suggestion but installation of the nmap binary is better left to the documentation for nmap as your systems package management is outside the scope of this tool.

[2015-07-30 17:19] #14 closed

[2015-07-30 17:27] jas- commented on #15
Please review the `contributing` section within the [README.md](https://github.com/jas-/node-libnmap/blob/master/README.md).

[2015-07-30 20:14] mrzmyr opened #16 "Discuss: Use xml as output instead of cli output parsing"
I came along with a few problems with the [`report`](https://github.com/jas-/node-libnmap/blob/master/lib/node-libnmap.js#L539) function. The parser didn't work well when passing in some different flag. So I decided to implement in [my fork](https://github.com/mrzmyr/node-libnmap/commit/21cbec2aece103df5f3aeec596bc9c50b85af524) a version where the XML output (`-oX -`) is used. This has the benefit

[2015-07-31 13:11] jas- commented on #16
It was designed to capture only a few of the available options and return a `json` object. Perhaps as you mentioned it would be better to simply return an XML option and use the [xml2json](https://www.npmjs.com/package/xml2json) for the returned report. I still feel returning the `json` object type should be the default value but as I mentioned pull requests are welcome.

[2015-08-01 22:00] mrzmyr commented on #16
Its actually not about returning a XML object. Its more about using the XML output and [bring it into the JSON format](https://github.com/mrzmyr/node-libnmap/blob/21cbec2aece103df5f3aeec596bc9c50b85af524/lib/node-libnmap.js#L103).

[2015-08-03 00:24] jas- commented on #16
Well I think it is a worth while endeavor.

[2015-08-03 13:57] mrzmyr commented on #16
I updated the branch now: https://github.com/mrzmyr/node-libnmap/tree/feature/replace-cli-parser-with-xml-parser

Before applying, I would write a simple and easy migration. How to use the ["old"](https://github.com/jas-/node-libnmap#output-2) output with the [new one](https://github.com/mrzmyr/node-libnmap/blob/feature/replace-cli-parser-with-xml-parser/README.md#output-2).

[2015-08-03 19:43] jas- commented on #16
You can remove the linking in the category title. Not really needed for implementers. I don't think we would need the 'easy migration' docs either as we can simply state that 'updating to v2.x' is a breaking change release.

[2015-08-04 21:41] mrzmyr commented on #16
What do you mean by the 'linking in the category title' ?

[2015-08-05 00:01] jas- commented on #16
Oh, sure. In your [updated readme](https://github.com/mrzmyr/node-libnmap/blob/feature/replace-cli-parser-with-xml-parser/README.md#output-2) you provide two separate links; one under 'Flatten' which links to the function within the source code & the second provides a link to the nmap output documentation.

I think both of those are un-necessary. Are you familiar with the [semantic versioning](htt

[2015-08-05 08:58] mrzmyr commented on #16
3162a51583632b317645d11840f5a1c14353d8a1, done.
Yes, I know semantic versioning. Don't you want to merge and version it ?

[2015-08-27 04:15] bwerst opened #19 "Multiple problems under MS Windows"
Having several issues with node-libnmap.js running in a windows environment.

nmap was installed via downloaded installer from nmap.org.  nmap is in the command line PATH.

I could not get fs.exists(opts.nmap, function(exists) to work correctly around line 193.  Tried multiple settings for defaults.nmap.  Eventually gave up and commented out the body of the check: function(opts) {....

Removing th

[2015-08-27 13:34] jas- commented on #19
Please provide a test case

[2015-08-27 14:16] bwerst commented on #19
Windows 7 Pro
nmap installed from packaged installer 5.61-Spiceworks.  Its in my PATH.

My test code is:
var scanner = require('node-libnmap')
var opts = {
  range: ['10.2.0.0/24']

}
scanner.nmap('scan', opts, function(err, report) {
  if (err) console.error(err)
  report.forEach(function(item){
    console.log('Parent Item: ' + item[0])
  })
})

Attached is my modified node-libnmap.js.

I added

[2015-08-27 15:34] jas- commented on #19
Please ommit your modified bit and provide the errors provided from the test case.

[2015-08-27 18:16] bwerst commented on #19
How am I supposed to run the test case?

My project is 'c:\bwerst\projects\nmap.  Under that is
node_modules\node-libnmap as installed from 'npm install node-libnmap' run
from my projects\nmap folder.  Your readme says to test run 'npm test'.
Its not clear where to run that from.  I tried running it from node-libmap
folder and get an error that 'make' is not recognized as an internal or
external c

[2015-08-27 20:24] jas- commented on #19
Hmm, perhaps I wasn't clear in my last piece of correspondence.

Please provide the error `your` implementation produces while omitting the debugging content you provided.

In order to run the test case(s) a typical method is as such:

[code]

[2015-08-28 01:56] bwerst commented on #19
Hopefully this is what you are looking for after figuring out how to
install make by installing cygwin64, etc....

Here's what I get:

C:\bwerst\projects\node-libnmap>npm test

  nmap

    discovery method

      1) validate report

  nmap

    default method

      √ object description

      √ latest version

      √ usage url

      √ support url

      √ license url

      √ legal url (nmap)

[2015-08-28 02:02] jas- commented on #19
Can you examine this [similar closed issue](https://github.com/jas-/node-libnmap/issues/8) to see if it will resolve your problem?

[2015-08-29 20:34] jas- commented on #16
Thanks, this has landed in [bcc55ea](https://github.com/jas-/node-libnmap/commit/bcc55ea531080e3c1a474ed038bf96c9a1e3752a)

[2015-08-29 20:34] #16 closed

[2015-08-29 20:35] jas- commented on #19
@bwerst This should be resolved in [v0.1.14](https://www.npmjs.com/package/node-libnmap)

[2015-08-29 20:35] #19 closed

[2015-08-29 21:53] mrzmyr opened #21 "Bring the $ dollar back"
As I just saw, the $ holds [important information](https://github.com/jas-/node-libnmap#output-2), like the port information of each item. We should bring them back though.

That means to just simply revert the commit ca91cae26bfbfc08ee2e076ce75478f8cbb5336b

[2015-08-30 00:00] jas- commented on #21
Sure, it got committed on accident anyways. I will manually remote it. Is there a way to name it based on the schema? Adding conditionals during the conversion seems clunky.

[2015-08-30 00:16] jas- commented on #21
Landed in [ffc604b822](https://github.com/jas-/node-libnmap/commit/ffc604b822e931eb06269ce05dbc1d9e1e261a3e)

[2015-08-30 00:16] #21 closed

[2015-08-30 00:41] jas- commented on #15
I am going to go ahead and close this as it is being addressed in branch [v0.2.0](https://github.com/jas-/node-libnmap/blob/v0.2.0/lib/node-libnmap.js#L38-L42)

[2015-08-30 00:41] #15 closed

[2015-08-31 00:18] bwerst commented on #19
Its working very well now.  Thank you!

On Sat, Aug 29, 2015 at 3:35 PM, Jason Gerfen <notifications@github.com>
wrote:

[2015-08-31 00:29] jas- commented on #19
@bwerst Good to hear, thanks for reporting this issue.

[2015-09-02 15:09] jas- commented on #11
@lutzbickhardt This really needs to use the [tools.range()](https://github.com/jas-/node-libnmap/blob/master/lib/node-libnmap.js#L426-L452) function by sending in the local IP per adapter as well as the subnet provided from [os.networkInterfaces()](https://nodejs.org/api/os.html#os_os_networkinterfaces).

[2015-09-06 14:22] jas- commented on #11
Version update to `v0.2.2` resolves this. Thanks!

[2015-09-06 14:22] #11 closed

[2015-09-21 08:45] nmors opened #22 "Error: Callback was already called."
Somewhere, the async done() is being called multiple times. Needs better handling.

To produce this error, it was very simple. The scan target is 127.0.0.1, scanning ports 80, 443, 22

I ONLY get the error, when I disconnect from my WiFi network. Very strange.

/myproject/node_modules/node-libnmap/node_modules/async/lib/async.js:43
            if (fn === null) throw new Error("Callback was already

[2015-09-21 08:46] nmors commented on #22
I'm running on ubuntu 14.04 64 bit desktop by the way, using node v0.12.0

[2015-09-21 10:45] jas- commented on #22
Do you receive problems when you run 'npm test'?

[2015-09-21 10:53] nmors commented on #22
Yep:

nathan@mynode:/myproject/node_modules/aleron_scannor/node_modules/node-libnmap$ npm test

  nmap
    discovery method
      1) validate report

  nmap
    error handling
      ✓ missing nmap binary
      ✓ invalid host range (host)
      ✓ invalid host range (range)
      ✓ invalid host range (CIDR)
      ✓ invalid port range

  nmap
    scan method
      ✓ default (2239ms)
      2) xml repo

[2015-09-21 11:52] nmors commented on #22
Are you able to replicate the issue using my configuration?

I have compared the two raw commands (without using node, but simply nmap from the shell, using the exact same commands which the lib executes)
 - 1st test is whilst connected to a network, and 2nd, not connected to any network. The difference is very  interesting. 2nd output is complaining about no DNS server configured:

"mass_dns: war

[2015-09-21 12:55] jas- commented on #22
Well that is a bug, better error handling. Thanks for reporting this.

[2015-09-21 13:27] nmors commented on #22
No problem. Thanks for providing the great node module. Glad to be able to help

[2015-09-21 16:12] jas- commented on #22
Your the first to try and scan something without an actual connection however

[2015-09-22 01:01] jas- commented on #22
@nmors Can you try branch `v0.2.10`?

[2015-09-22 01:27] ckiely91 commented on #22
@jas-, I receive get this same problem when running an nmap scan with the '-sn' flag enabled.

[code]

I tried implementing your v0.2.10 fix but that did not help.

[2015-09-22 01:32] ckiely91 commented on #22
Here's the error I received:

[code]

[2015-09-22 01:58] nmors commented on #22
I'm still getting the same issue on the 0.2.10 branch: (With WiFi Off)

    Running: nmap  --host-timeout=100 -oX - -T4 -p80,22,443 127.0.0.1

    /myproject/node_modules/node-libnmap/node_modules/async/lib/async.js:43
                if (fn === null) throw new Error("Callback was already called.");
                                       ^
    Error: Callback was already called.
        at /var/ww

[2015-09-22 02:00] jas- commented on #22
@ckiely91 set the ports option to null
[code]

[2015-09-22 02:04] jas- commented on #22
@nmors Can you try commit 79fd31d which just landed in `v0.2.10`?

[2015-09-22 02:23] nmors commented on #22
The 2nd commit fixed it for me!

Thanks

[2015-09-22 02:27] jas- commented on #22
Good to hear, thanks for reporting this.

[2015-09-22 02:27] #22 closed

[2015-09-22 04:08] ckiely91 commented on #22
@jas- Thanks for your help!

[2015-09-22 10:16] jas- commented on #22
@ckiely91 no worries, next revision will provide better error handling regarding these types of issues

[2015-10-11 15:10] Kikobeats commented on #22
same error here running test (wifi is on):

[code]

[2015-10-12 23:16] jas- commented on #22
@Kikobeats Please open a new issue. Thanks.

[2015-10-13 04:18] nmors opened #23 "JSON output sucks."
Working on something better. Will submit PR soon, with option to enable the 'better' structured output. I've found with the current output, the nesting is pretty bad. (as XML to JSON simply doesn't do a great job, obviously)

It will make storing to DBs much nicer, which is what I am doing. Plan is to return an array of hosts scanned. (so each scanned host will be inserted easily as a database row

[2015-10-13 07:33] Kikobeats opened #24 "Error: Callback was already called (again)."
[code]

[2015-10-13 21:35] digipigeon commented on #23
+1

[2015-10-14 11:35] tomtom87 opened #25 "how to enable infinite scanning?"
Hi, how can I run the following nmap with the node-libnmap? I have tried to set the flags but to no avail. This is how I do infinite random IP scanning with nmap (from the nmap documentation..)

[code]

I would like to just be able to scan for proxies and have the results via lib-nmap as processing the xml with a separate script isn't optimal. Thanks for this excellent project also :) :+1:

[2015-10-14 13:44] tomtom87 commented on #23
+1

[2015-10-14 13:46] tomtom87 commented on #23
@nmors please can you check these perl scripts I have been using before http://search.cpan.org/~apersaud/Nmap-Parser/tools/nmap2db.pl

[2015-10-14 13:50] tomtom87 commented on #23
@nmors also this project is very interesting if you are going to do a PR.. this is the postgre python nmap manager https://github.com/rafaelma/nmap2db/blob/master/docs/manual.rst

[2015-10-14 13:51] tomtom87 commented on #24
+1

[2015-10-14 14:23] jas- commented on #25
Please look in the [examples folder](https://github.com/jas-/node-libnmap/tree/master/examples) @ [flags.js](https://github.com/jas-/node-libnmap/blob/master/examples/flags.js).

You can use the `flags` array to specify the options you wish. Keep in mind that some of those would require you to run the script with elevated privileges.

[code]

[2015-10-14 17:56] jas- commented on #23
This shouldn't be handling database connections in anyway. Any database operations should be in a different abstraction layer then this module.

[2015-10-14 20:48] nmors commented on #23
Thanks, I was not planning on handling db connections here at all, just
simply better formatting the json output.
On 15 Oct 2015 4:56 am, "Jason Gerfen" <notifications@github.com> wrote:

[2015-10-14 21:04] jas- commented on #23
+1 I think the XLST used by nmap core might be at fault but changing that might prove difficult

[2015-10-14 21:56] nmors commented on #23
This is a small part of the code - (it's obviously not complete yet - I need to properly loop through the scanned hosts still, and build an array properly as I accidentally did it wrong in the following code) Just want to get some opinions if possible, before going further. E.g. field naming convention, dash / underscore / camelCase, etc. I was going to convert to camelCase. Thoughts?

It's basica

[2015-10-14 23:27] jas- commented on #23
No on the camel case. The hyphens are fine as keys and preferred. I am concerned about the index 0 per xml element. Each element; i.e. `host-address`, you have listed as `doc[the_host].host[0].address[0]`.

Because this tool speeds up scans of large subnet/network blocks each report may contain multiple hosts and that goes for each element; i.e. `doc[the_host].host[0]` or `doc[the_host].scaninfo[0

[2015-10-15 00:19] nmors commented on #23
Thanks Jason, you are completely correct. I implemented the above when only
scanning a single host, not understanding properly how the output will look
like when scanning multiple, also using multiple host blocks.

Need to handle pushing to the output array for each host and/or each host
in each host block. An additional loop is required here to fix it, i guess.

Also need to decide if this should

[2015-10-15 00:34] jas- commented on #23
In regards to contributing; the best practice is as follows:

1. [Fork](https://help.github.com/articles/fork-a-repo/) this repository
2. Create an [upstream branch](https://www.atlassian.com/git/articles/git-forks-and-upstreams/) to handle future releases (weekly fetches of the uptream branch and merging will [keep any local fork branches](https://git-scm.com/book/en/v2/Git-Branching-Basic-Branch

[2015-10-15 08:36] tomtom87 commented on #23
Ideal situation for me would be able to just choose output method DBMS and save to MySQL, NoSQL, Postgre etc. Not quiet sure why I need the XML hop because it's just going str8 to a parser anyways... but each to they own. Guess I will start the fork then... bless

[2015-10-15 10:50] jas- commented on #23
@tomtom87 XML is an output option but JSON is the default output. File I/O is always going to be faster for read/write operations and the object traversal for both XML and JSON is faster than the overhead most SQL engines implement.

While this is one argument against outputting results to a database engine such as the ones you mention, two additions are the added setup complexity (setup, connect,

[2015-10-15 12:03] nmors commented on #23
@tomtom87 the purpose of my idea is to ultimately make it easier for one to
work with the json output.

Having a nicer structured output like this would mean a simple one-line of
code for then saving the results to a nosql db.

For the case of a relational db, you would probably need two tables: hosts
& open-ports (1 to many)

If you really feel the need, I think using the module as a dep for anot

[2015-10-15 14:26] jas- commented on #23
@nmors +1 on the module proposition for @tomtom87.

This module would best be served as a dependency from another module that performs the database abstraction you wish to perform. See some [existing projects](https://www.npmjs.com/browse/depended/node-libnmap) that use `node-libnmap` as a dependency

And the `nmap` binary would require XML parsing either way as it is the best/standardized format

[2015-10-16 07:22] tomtom87 commented on #25
@jas- thanks very much!! :+1:

[2015-10-16 07:22] tomtom87 commented on #23
@jas-  I will look at making it as a dependency module then maybe node-libnmap2db? Regarding the I/O that wouldn't be a problem because I can just process the outputted XML on the fly. To do this task it requires a nice wrapper so that you can just leave it running as a service ideally whilst having a table populated.

In respect to having a one to many table design, I don't see the need when the

[2015-10-16 07:28] tomtom87 opened #26 "Using .nse scripts"
I like to use the http-open-proxy.nse script that comes with nmap. How can this be done via node-libnmap?

[2015-10-16 07:28] tomtom87 commented on #26
In a nutshell: is --script supported and how do I use it? Is it a flag?

[2015-10-16 07:29] #26 closed

[2015-10-16 10:44] jas- commented on #23
@tomtom87 it isn't interpretation, I am worried about. It is thread hijacking.

[2015-10-16 10:45] jas- commented on #26
Patience and research are virtues. All of the questions you had can be found in the examples folder and with the nmap documentation.

[2015-10-16 12:43] jas- commented on #23
@nmors Just so you are aware of the [xslt file](https://svn.nmap.org/nmap/docs/nmap.xsl) being used to generate the `xml` output.

There may be better options than using the current `xml2js` module for the json object generation. Before you write a full blown replacement perhaps fork, new branch and try one of the other [xml to json conversion modules](https://www.npmjs.com/search?q=xml+json) avai

[2015-10-17 14:52] jas- commented on #24
@tomtom87 @Kikobeats, I am unable to re-create this error. I am going to need some more information.

Do any of the `examples/*.js` files work? What version of nodejs are you running? Anything prior to `v0.11.7` doesn't contain the necessary `mac` [attribute population](https://nodejs.org/api/os.html#os_os_networkinterfaces) necessary for the `discover` method.

[2015-10-24 12:50] Kikobeats commented on #24
I checked now and works fine with v0.12+!

[2015-10-24 19:45] jas- commented on #24
Good to hear. Just so you're aware with the release of `v0.2.15` the name has changed to `libnmap` so to keep your project's module dependency up to date you should use `npm --save install libnmap`. Thanks for reporting this.

[2015-10-24 19:45] #24 closed

[2015-10-26 11:32] tomtom87 commented on #25
I've been trying a lot of permutations but I just cannot get the infinite scanning to operate like I can on the command line. Have you been able to?

[2015-10-26 11:36] jas- commented on #25
@tomtom87 You should remove `node-libnmap` and use `npm install libnmap`. Version `v0.2.20` should work as expected. There was a bug with the `flags` array that was addressed in `v0.2.17` of `libnmap`.

[2015-10-26 11:40] tomtom87 commented on #25
Oh man sweet juicy tits this thing has been having me up all hours! Nice one @jas-

[2015-10-26 12:49] jas- commented on #25
@tomtom87 Does that mean your issue is resolved?

[2015-10-26 13:03] tomtom87 commented on #25
@jas-  just about to have a play now, will be right back at you hold tight

[2015-10-26 13:20] tomtom87 commented on #25
@jas-  no dice mate

[code]

Still expects a range then

[2015-10-26 13:21] tomtom87 commented on #25
Full code

[code]

[2015-10-26 13:27] jas- commented on #25
@tomtom87 Perhaps I am unfamiliar with your use case. The module requires a `range` be specified. If your trying to scan the internet you can always use `range: ['0.0.0.0/0']` as your range.

[2015-10-26 13:29] tomtom87 commented on #25
@jas- ah ok I did not realise, that is the use case I am looking for - to just openly scan the net for services

[2015-10-26 13:30] tomtom87 commented on #25
Argh the GC craps out @jas-

[code]

[2015-10-26 13:33] jas- commented on #25
Looks like the calculations on `0.0.0.0/0` for the netmask module might want a smaller range. Very little testing has been done on ranges larger than class c & b networks.

[2015-10-26 13:34] tomtom87 commented on #25
@jas-  how can i just get the standard functionality back that the command line nmap has for running infinite scans?

[2015-10-26 13:35] jas- commented on #25
I think you answered your own question.

[2015-10-26 13:37] tomtom87 commented on #25
Well I wanted to have nmap in node so I can pipe the output to mysql easily, one week in and I guess I need to fork your repo mate... thanks so much for this project I will get it working

[2015-10-26 13:41] jas- commented on #25
@tomtom87 Before you do that you may want to increase the available perhaps you should read up on the [memory limit for node.js](https://github.com/nodejs/node-v0.x-archive/wiki/FAQ#what-is-the-memory-limit-on-a-node-process)

[2015-10-26 13:45] tomtom87 commented on #25
@jas- I run nmap on virtual machines with 256mb of ram mate for the past five years or so, the problem is how this is implemented in node - nmap can run fine just scanning for days and days.

[2015-10-26 13:46] tomtom87 commented on #25
I guess if node can't handle the GC I will have to go back to my perl script and bash...

[2015-10-26 13:46] jas- commented on #25
@tomtom87 Yep. Sounds like it. I don't test this tool scanning the entire net as any testing server would end up blocked and banned.

[2015-10-26 13:47] tomtom87 commented on #25
Pretty perplexed why node cannot do it, my last script I inserted 400,000+ rows (all had 3 nmap scripts run on them to confirm they had services running) within a 12 hour window. Whilst developing and running websites on the same machine.

You wont get blocked nor barred, there is nothing illegal about scanning the internet. Any web spider does this I am only looking for public services such as we

[2015-10-26 13:48] tomtom87 commented on #25
I just want to take advantage of nodes async threaded abilities really. Imagining nmap threaded gives me goosebumps

[2015-10-26 13:48] jas- commented on #25
You can always take a look at some of the available options; `threshold` and `blocksize` tuning may accommodate the limits.

[2015-10-26 13:50] tomtom87 commented on #25
Think im just gonna try hack on it an see what comes up still. Thanks
for all the help!

On 26/10/2558 BE 8:49 p.m., Jason Gerfen wrote:

--
--

Tom Whitbread
Gript.co.uk

[2015-10-26 14:12] jas- commented on #25
@tomtom87 Because the error showed up with the `netmask` module I would start there.

[2015-10-26 14:54] jas- commented on #25
Nevermind, it parses the larger range fine. My assumption is that because the nmap process blocking (non-async) and this module currently does not output reports as scan ranges complete (it uses `async.parallelLimit()` and aggregates the reports) it will always run into limitations due to system resources.

[2015-10-26 15:22] tomtom87 commented on #25
@jas- very helpful thanks. I've managed to tinker a bit and can get it working with xml output that would then need to be piped. Found some CIDR libraries also that might come into use. Ideally if you want to scan a country for proxies for example... a very useful tool this could become!

[2015-10-26 15:29] jas- commented on #25
Can you provide the options your using or are you writing something custom that wouldn't be applicable to a pull request?

[2015-10-26 16:03] tomtom87 commented on #25
@jas-  Sorry this is custom now, but if I can get it working within the paradigm of the module I will definitely like to make a pull req!!

[2015-10-26 16:23] jas- commented on #25
Ok I am closing this as you are building a one-off solution for your own needs. Thanks for reporting this.

[2015-10-26 16:23] #25 closed

[2015-10-26 16:25] tomtom87 commented on #25
@jas-  thanks man. I will try to stay in touch as I really like this module and you are very helpful

[2015-10-26 17:45] jas- commented on #25
@tomtom87 No worries, if you do create a pull request try to follow the [contributing](https://github.com/jas-/node-libnmap/blob/master/CONTRIBUTING.md) guide.

[2015-11-03 05:14] ckiely91 commented on #23
@nmors, this is great. Something to consider is the use of the $ character - attempting to save the results to a MongoDB results in errors as $ is a Mongo operator. Could this be replaced or omitted?

[2015-11-03 11:39] jas- commented on #23
Try v0.2.21

[2015-11-04 01:18] nmors commented on #23
@ckiely91 yep, $ is getting omitted
On 3 Nov 2015 10:39 pm, "Jason Gerfen" <notifications@github.com> wrote:

[2015-11-12 14:42] lrengunst opened #28 "Error: Error: Supplied path for nmap binary is invalid"
[code]
=======================================================================
r********:~/workspace (master) $ node server
nmap file on /home/ubuntu/workspace/nmap/nmap
[ [Error: Supplied path for nmap binary is invalid] ]

[2015-11-12 15:07] jas- commented on #28
I am not able to decipher this use case. Could you please reformat the code and exception blocks using the markdown formatting syntax?

[2015-11-12 15:24] lrengunst commented on #28
I've put on a par with the main module and assigned to it understand address located in / home / ubuntu / workspace / nmap / nmap but it does not work
nmap: path.join(__dirname,'/nmap/nmap') => /home/ubuntu/workspace/nmap/nmap

[2015-11-13 00:41] jas- commented on #28
I think you should reconsider your `opts` object.

[code]

No need to specify the full path; the `hasbin` module will take care of the binary location and as long as the `nmap` binary exists in the `PATH` or `%SYSTEM%` you should be good to go.

[2015-11-13 07:23] lrengunst commented on #28
ordinary users can not install new nmap so used to make the lib .
not custom paths then how can run on the host node cloud ?

[2015-11-13 11:56] jas- commented on #28
As long as the nmap binary exists in the system path (please look that up) then this tool will find and use the nmap binary.

[2015-11-26 18:53] jas- commented on #23
@nmors @ckiely91 Have either of you used `npm install libnmap` to make use of `v0.2.21`? It should address this.

[2015-11-26 21:30] nmors commented on #23
Not yet, ive been on holidays and busy with other projects. I'll try it out
when i have a chance in next couple of weeks some time
On 27 Nov 2015 5:53 am, "Jason Gerfen" <notifications@github.com> wrote:

[2015-11-26 21:35] ckiely91 commented on #23
I have updated to v0.2.21, the output is indeed easier to wrangle into Mongo now. Thanks!

[2015-12-18 23:20] dominicholt opened #29 "Returns 0 IPs"
I am attempting to run a discover function on the network to see all my neighbors using the CIDR, but each time there are zero hosts returned (when I run the same command in nmap itself, 40 hosts are returned). Here is the output:

{"item":{"scanner":"nmap","args":"nmap --host-timeout=900s -oX - -sn --disable-arp-ping fe80::62f8:1dff:fed2:2cd4/ffff:ffff:ffff:ffff::","start":"1450480373","startstr"

[2015-12-18 23:58] jas- commented on #29
Can you provide your test case code? If you look at the results nmap is flagging your IPv6 range as invalid. Try using verbosity in you options as well.

[2015-12-21 18:28] dominicholt commented on #29
Thanks for responding so quickly. My code is very simple:
[code]

[2015-12-21 18:46] jas- commented on #29
The range you provided in your example does not accurately reflect the output in your original question

[2015-12-21 21:54] dominicholt commented on #29
So, apologies for that, you were totally right, it was a build problem which I've fixed. The true output is:
[code]
Once again, I apologize if this seems like a simple problem to fix, but I'm very new to Node development. I looked into the actual node-libnmap code where this is referenced and then looked up the ip-address Node project. It appears they have changed the instantiation of IPV6 address

[2015-12-21 23:52] dominicholt commented on #29
As I suspected, after changing line 16 to:
[code]
and modifying line 253 to:
[code]
My code compiles and gives this output again:
{"$":{"scanner":"nmap","args":"nmap --host-timeout=900s -oX - -sn --disable-arp-ping fe80::c0cc:ff:feea:51bd/ffff:ffff:ffff:ffff::","start":"1450740857","startstr":"Mon Dec 21 15:34:17 2015","version":"7.01","xmloutputversion":"1.04"},"verbose":[{"$":{"level":"0"}}],"de

[2015-12-22 00:52] jas- commented on #29
Try using 'npm install libnmap' and a valid IPv6 address. Nmap and other cidr IPv6 calculators is flagging 'fe80::62f8:1dff:fed2:2cd4/ffff:ffff:ffff:ffff::' as invalid

[2015-12-22 04:51] njbbaer opened #30 "Cannot run discover.js example"
I am trying to discover devices on my local network, but running the discover.js example seems to fail.

[code]

[code]

[2015-12-22 11:40] jas- commented on #30
What happens when you run 'npm test'?

[2015-12-22 18:20] dominicholt commented on #29
So I installed libnmap, I'm currently using a CIDR address which is valid (as it works in Nmap itself). I've also tried converting it into an IPv6 address and it still says the same thing (and also attempts to change it). Is it possible that the conversion to IPv6 is going wrong somewhere?

[2015-12-22 20:15] njbbaer commented on #30
[code]

[2015-12-23 11:15] jas- commented on #29
There is nothing converting or breaking up the IPv6 cidr ranges into smaller blocks like IPv4 cidr ranges. Do the provided test fail as well?

[2015-12-23 11:17] jas- commented on #30
How did you install this? Using 'npm install libnmap' or some other way? I don't use Windows so attempting to recreate your issue is difficultie

[2015-12-23 18:09] dominicholt commented on #29
The tests pass in the libnmap folder.

[2015-12-23 22:17] dominicholt commented on #29
So the issue I'm running into is it declares everything as invalid. Doesn't matter if I use a valid IPv4 or IPv6 address, it still skips everything and declares it as invalid. If I use an IPv4 address, it will convert it to IPv6. If I use an IPv6 address, it attempts to convert it anyway (and apparently to an invalid IPv6 address). Perhaps it is because of the way I'm specifying the range for the

[2015-12-24 02:10] jas- commented on #29
The discover method does not require arguments and uses the local adapter(s) address and subnet to scan for neighboring devices.

[2015-12-25 02:45] njbbaer commented on #30
Yes I did use npm. A clean install seems to have fixed the issue, though I'm still not sure where I erred.

[2015-12-25 02:50] njbbaer commented on #30
Yes I did use npm. Though I think I've decided libnmap isn't suitable for what I need. I found I can scrape device information directly from the status page of my router.

[2015-12-25 03:12] jas- commented on #30
Or because your on Windows you can query your systems arp traffic with arp -a ref: https://technet.microsoft.com/en-us/library/cc786759(v=ws.10).aspx

Technically your router is soliciting the same information because it is the active gateway on your subnet. The problem is if a system is quiet the arp table won't register on the router or your systems local arp table.

nmap scans for local systems

[2015-12-25 03:58] njbbaer commented on #30
That's interesting, I had noticed devices appearing and disappearing from the arp table. I figured phones going to sleep and such, I didn't know if there was anything that could be done about it. In that case I'd prefer to use libnmap if possible.

I found I can perform a discovery by specifying a range, which should be everything on my home network.

[code]

But this doesn't return me what I want

[2015-12-25 04:18] jas- commented on #30
The arp table is the only way to remotely retrieve the hardware (Mac) address of the remote system short of sniffing the layer two traffic src address. If the is a route you want to go I think there are some other npm packages that might have the ability to put the network adapter in promiscuous mode

[2015-12-25 04:33] njbbaer commented on #30
Unless there's a good out of the box solution here, I think I'd be out of my depth. Though I'll look into it if you have a package in mind.

The arp tables could still work, albeit delayed. Devices seem to show up at least every ten minutes or so, so it would take about that long to realize something left the network.

[2015-12-25 05:34] jas- commented on #30
Here is microsofts arp protocol information https://technet.microsoft.com/en-us/library/cc758357(v=ws.10).aspx

[2015-12-27 00:26] #30 closed

[2015-12-28 17:24] dominicholt commented on #29
If I just plug in the example code on the front page of the project, this is the error I get:

Error: Error: Range must be an array of host(s). Examples: 192.168.2.10 (single), 10.0.2.0/24 (CIDR), 10.0.10.5-20 (range)

[2015-12-31 18:03] dominicholt commented on #29
Based on your input of using the local adapters, I wrote this snippet of code:
[code]

Unfortunately this only prints out localhost (and not in the format I'm expecting with the JSON tree that has neighbors). On my network, I know this is not accurate as running a scan with nmap itself yields many hosts.

[2016-01-02 15:39] jas- commented on #29
Can you provide the output of `console.log(require('os').networkInterfaces())`. I believe your problem is that you do not have an IPv4 address associated with your adapter indicating a bug in the IPv6 to subnet masking conversion, but I need to confirm it.

[2016-01-02 16:33] jas- commented on #28
I am closing this issue. nmap installation is outside the scope of support and considered an edge case implementation issue.

[2016-01-02 16:33] #28 closed

[2016-01-02 16:34] jas- commented on #23
Please use `v0.2.22` of `libnmap`. Usage of `node-libnmap` has been depreciated and has reached `EOL`.

[2016-01-02 16:34] #23 closed

[2016-01-04 22:12] dominicholt commented on #29
Here is the output you requested:
[code]
I've upgraded to v0.2.23 but still seem to be having the same issues.

[2016-01-08 12:04] jas- commented on #29
Is this a production system? Are you able to offline the `awd10` adapter and try it? I am fairly certain this is a bug with the `IPv6` adapter. The `discover` mode attempts to generate a `CIDR` range from the `addr` and `subnet` associated with `awd10` and I don't believe `ffff:ffff:ffff:ffff::` is a valid notation.

[2016-01-20 15:28] designabyss opened #31 "Question: Run command with sudo ?"
Command is internally executed as

[code]

How can I run it with sudo as that is required for most of the detections

[2016-01-20 16:21] jas- commented on #31
That is outside the scope of support for this project. I would suggest the sudo manual (`man sudo`).

[2016-01-20 16:21] #31 closed

[2016-02-02 17:07] jas- commented on #29
@dominicholt Is this still an issue?

[2016-02-03 00:46] dominicholt commented on #29
Sorry there's been radio silence over here, I haven't been able to work on this project much due to other obligations. I just updated and still only seem to get 1 host returned. What can I provide to help?

[2016-02-03 01:09] jas- commented on #29
Can you turn on verbose mode and post the results?

[2016-02-03 18:10] dominicholt commented on #29
Network Interfaces Output:

{ lo0:
   [ { address: '::1',
       netmask: 'ffff:ffff:ffff:ffff:ffff:ffff:ffff:ffff',
       family: 'IPv6',
       mac: '00:00:00:00:00:00',
       scopeid: 0,
       internal: true },
     { address: '127.0.0.1',
       netmask: '255.0.0.0',
       family: 'IPv4',
       mac: '00:00:00:00:00:00',
       internal: true },
     { address: 'fe80::1',
       netmask: '

[2016-02-03 18:21] jas- commented on #29
Both `fe80::62f8:1dff:fed2:2cd4/128` & `fe80::1c00:2bff:fecc:9d9/128` are single IP ranges.

I may have to address this according to the nmap documentation regarding [host discovery](https://nmap.org/book/man-host-discovery.html)

    One of the most common Nmap usage scenarios is to scan an ethernet LAN. On most LANs, especially those using private address ranges specified by RFC 1918, the vast m

[2016-02-04 11:36] jas- commented on #29
If you get a minute could you try the `v0.2.24` branch from here vs. NPM? I don't have an environment for IPv6 validation.

[2016-02-05 18:46] mattwhetton opened #32 "Can node-libnmap be used on windows?"
Hi,

Can this library be used on windows machines?

I've got the windows version of nmap installed, but I just get an error saying supplied path for nmap binary is invalid.

I've tried setting the nmap option to the installed nmap exe but that gives the same error.

Any pointers?

Matt

[2016-02-05 20:36] jas- commented on #32
Have you tried searching the `closed` [issues](https://github.com/jas-/node-libnmap/issues/19)?

[2016-02-05 20:36] #32 closed

[2016-03-16 14:25] cscholze commented on #29
I have been having a similar issue with the discovery scan.  I'm using libnmap with OSX.  From what I've discovered, libnmap uses node's 'os' module to grab the network interfaces in the 'adapter' function.  When looping through the adapters object, it grabs the first item in the iface array , which corresponds with the IPv6 address for the adapters.  I modified the code to grab the last item, whi

[2016-03-16 17:47] jas- commented on #29
@cscholze Can you open a new issue?

[2016-03-17 14:35] cscholze opened #33 "Adapter function does not get IPv4 addresses from network interfaces"
The adapters function only grabs the first object from adapters[iface] returned from os.NetworkInterfaces().  This can results in skipping network interface IPv4 addresses, resulting in discovering zero hosts on networks that don't use IPv6, even if the interface is assigned an IPv6 address.

[2016-03-17 15:14] cscholze opened #34 "IPv4 discovery in blocks of 16"
Why break IPv4 host address space into blocks of 16 during the discovery scan?  The JSON output returns results for addresses in blocks of 16.  Why isn't the output one object full of hosts in the scanned range?

[2016-03-17 15:44] jas- commented on #34
That block of 16 depends on the number of CPU's returned by the OS.

[2016-03-17 15:46] cscholze commented on #34
Is that to increase the nmap scan speed by breaking it into blocks for each processor to use?  I have a quad core and its doing blocks of 16.  Doesn't nmap already manage that?

[2016-03-17 15:50] jas- commented on #34
nmap can and does implement multiple threads; this tool increases this by splitting the specified CIDR, range etc. into smaller blocks based on the CPU count and the `threshold` option. In many cases the speed of the scan (provided the host response times are good) is improved.

[2016-03-17 15:56] cscholze commented on #34
Awesome, thanks!!

[2016-03-17 15:56] #34 closed

[2016-03-26 15:50] jas- commented on #33
This should be resolved with `v0.2.28` which is now published on `npm`

[2016-03-28 16:28] cscholze commented on #33
I'm going to give that a run now...I've been using a forked version.

[2016-03-28 18:21] jas- commented on #33
Does `-PR` work for IPv4 addresses? According to the `nmap` [docs](https://nmap.org/book/man-host-discovery.html) for IPv6 addresses;

This sounds like a separate issue so a new one would be helpful to keep it easy to maintain.

[2016-03-28 19:46] cscholze commented on #33
i'm going to close this and open a new one

[2016-03-28 19:46] #33 closed

[2016-03-28 19:47] cscholze opened #36 "IPv4 not discovering any 'up' hosts"
When using discover for IPv4 addresses, the Discover function does not detect any 'up' hosts.  I am able to retrieve 'up' hosts by modifying the default flags and disabling the ARP scan.  Possible fix could be to only use ARP scanning for IPv6 addresses?

[2016-03-28 20:24] jas- commented on #36
Can you confirm it works for discovery of IPv6 hosts and not IPv4 hosts?

[2016-03-28 20:30] cscholze commented on #36
I'm not sure how I could, since my local network is on a router that uses IPv4 addressing...I'll do some testing and let ya know. May be able to reconfig the router to use IPv6.  I'll get back with my results.

[2016-03-28 20:43] jas- commented on #36
The results for a discovery should provide the original scan flags used. If a -6 is in the command string and there are hosts showing 'up' then it is indeed working for IPv6 hosts (provided those results are accurate for your network).

[2016-05-10 23:04] arcifius opened #38 "Latest version of ip-address brokens the library"
The latest version of ip-address broke the library.

The **v6.Address** is now undefined. It should be **require('ip-address').Address6**

[2016-05-11 03:40] jas- commented on #38
And the latest version of this library supports up to 4.2.0 of the ip-address dependency. How did you install this package?

The only supported method is 'npm install'.

[2016-05-11 22:59] tinnocente opened #39 "host discovery"
Hello,  nice interface to nmap .

I'm wondering what the best way to do host discovery is?  I don't need OS detection or port service detection.  Shown below is (kind of) quick but I think it's scanning ports.  Is there a better way?

nmap.scan( { range : [ "192.168.1.1-25" ], flags : [ '-PR' ]  }, function(err, report) { }

Thanks

[2016-05-12 14:17] jas- commented on #39
The examples folder as well as the readme document describe the discovery method available with this module

[2016-05-12 14:17] #39 closed

[2016-06-04 12:25] jas- commented on #38
@arcifius This should be resolved as of the `v0.2.31` branch installed from `npm install --save libnmap`. Can you confirm?

[2016-06-05 18:12] stemmlerjs commented on #38
I just installed the v0.2.31 branch by doing npm install --save libnmap and I still have this problem.

`netmask = new v6.Address(netmask).subnet.substring(1);
                  ^

TypeError: v6.Address is not a function`

[2016-06-06 12:19] jas- commented on #38
@arcifius @stemmlerjs This should be resolved with the `v0.2.32` release. Thanks for reporting this.

[2016-06-06 12:44] stemmlerjs commented on #38
**@jas-** Good stuff, works for me now with the v0.2.32 release. Thanks for putting out this tool.

[2016-06-06 12:53] #38 closed

[2016-06-10 21:18] thxmike opened #40 "New Version Error"
Something has changed with the new release of libnmap. I am using version 0.2.32 and nmap version 7.01. There error is reported below. Looking at the source in libnmap.js,
There appears to be is an xml string returned from the reports function and it expects an array.
Not sure what changed. Let me know if additional information is needed.

[code]

After some debugging, it appears that the followin

[2016-06-11 11:14] thxmike commented on #40
I changed the following lines to correct the problem.
#253 execute = proc(cmd, function exe(err, stdout, stderr) {
to this: execute = proc(cmd, **{maxBuffer: 1024 * 500}**, function exe(err, stdout, stderr) {

Making the maxBuffer a configurable item in the nmap options may be desirable for a final solution

In addition, around line number #135 some defensive programing may be in order:
#135 var x

[2016-06-11 12:19] jas- commented on #40
Pull requests are welcome. Just review the 'contributing' document for details on how to create and submit one.

Thanks for submitting this

[2016-09-02 03:54] charlesfracchia opened #41 "Error: Callback was already called (again again)."
Hi, I'm having this error as well.
I'm running `node v4.5.0`. Here's the result of the `npm test`.
I can run the examples fine.

[code]

[2016-09-02 13:35] jas- commented on #41
Could you enable verbose output for the test(s) that are failing? i.e. `verbose: true`?

[2016-09-14 07:36] mitchellpontague commented on #41
Here is my output of same issue using verbose output for the test in question.

[code]

[2016-09-14 16:03] charlesfracchia commented on #41
Sorry for the delay, I'm confirming the results @mitchellpontague reports above. With a *slight* difference on the way the invalid flag options are reported.

[code]

[2016-09-16 22:45] jas- commented on #41
Hmm. I am not able to recreate on this end. Could either of you try the `discover.js` example in the [examples](https://github.com/jas-/node-libnmap/tree/master/examples) folder? Also please provide the `node` version installed.

[2016-10-21 08:03] smarttang commented on #25
how to return result?

[2016-10-21 10:14] smarttang opened #42 "bug!!!!"
[code]

results:

[code]

[2016-10-21 11:50] jas- commented on #25
@smarttang please open a need issue. This one is closed.

[2016-10-21 11:52] jas- commented on #42
@smarttang can you please look at the examples for the proper usage

[2016-11-13 16:42] jas- commented on #41
@charlesfracchia @mitchellpontague, this should be resolved as of `v0.3.0` available on `npm`. Please confirm.

[2016-11-18 16:38] charlesfracchia commented on #41
Hmm
[code]

[2016-11-19 15:34] jas- commented on #41
@charlesfracchia Could you please provide some debugging information (as previously [mentioned](https://github.com/jas-/node-libnmap/issues/41#issuecomment-244376451)) in the test case & possibly show the output of the [discover.js](https://github.com/jas-/node-libnmap/blob/master/examples/discover.js) included example?

[2016-11-21 21:03] charlesfracchia commented on #41
Yep, sorry, here the missing section.

[code]

[2016-11-21 21:05] charlesfracchia commented on #41
That test case seems to actually be using `Node v0.10.48` ?
https://travis-ci.org/jas-/node-libnmap/jobs/177298394#L153

[2016-11-21 21:16] jas- commented on #41
That is the default version for automated test cases.

Look in the log and you will find the following

Now using node v4.6.2 (npm v2.15.11)

Because I needed my test harness to examine multiple OS's I had to manually change the node version; see line 328 in the log.  The previous comment link doesn't expand the log when viewed on mobile devices

[2016-11-21 21:20] charlesfracchia commented on #41
Hmm, ok. How can I help debug this?
I've noticed that when I do the test, my terminal doesn't show the active line after failing the test. The terminal is still active, but nothing displays. e.g.: up arrow doesn't show the previous command run, despite loading it (if I press <enter>, it will work).
Unlikely to be directly related to the test failing, but thought I would note it

[2016-11-21 21:24] charlesfracchia commented on #41
Exact same error comes up with `Node v7.1.0`

[2016-11-21 23:14] jas- commented on #41
Ok not the version. Can you provide your available network interfaces and their assigned address & subnet? I.e console.log(require('os').networkInterfaces()

[2016-11-22 16:10] charlesfracchia commented on #41
[code]

[2016-11-23 00:41] jas- commented on #41
@charlesfracchia Strange, the output you mention [here](https://github.com/jas-/node-libnmap/issues/41#issuecomment-262066218); doesn't seem to correspond to the output from the configured IPv6 interfaces.

Can you run the `node examples/ipv6.js` file & the `node examples/discovery.js` file?

[2016-12-04 21:29] xllab opened #43 "hasbin"
in line 547 hasbin.sync on libnmap.js is throwing error for external compiled nmap binary (i can successfully use when i disabled check). can you change?

[2016-12-04 22:54] jas- commented on #43
No, not without additional information.

Please provide your use case which causes the error, the operating system and versioning of node, libnmap etc.

Thanks

[2016-12-04 23:07] xllab commented on #43
You can try any operating system jas (with compile latest version of nmap). its your project. besides "callback already called" error annoying me too. i think there is an logical issue.

but beyond the errors thanks for your time :)

[2016-12-04 23:19] jas- commented on #43
So you are saying the build and tests are incorrect?

[v0.3.8](https://travis-ci.org/jas-/node-libnmap)

You will have to elaborate and provide more information then that for me to proceed.

[2016-12-07 12:03] jas- commented on #29
@cscholze I am closing this; referencing [v0.2.25](https://github.com/jas-/node-libnmap/commit/a66c69d162e253ccbd6358729c9d917eebdca077) as the fix

[2016-12-07 12:03] #29 closed

[2016-12-07 12:04] jas- commented on #40
This has been addressed, thanks for reporting this issue.

[2016-12-07 12:04] #40 closed

[2016-12-07 12:06] jas- commented on #42
Closing issue as the use of async is an edge use case.

[2016-12-07 12:06] #42 closed

[2016-12-21 13:54] JonSilver commented on #41
Just an observation... it could be a red herring in this case, but... any unhandled error within the .scan() callback function will result in a spurious "callback was already called" error in async.js.

So, try putting all processing code inside a try/catch block and you may find the error magically disappears. Then you can investigate further.

[2016-12-21 22:58] jas- commented on #41
I am going to need more information as I am not going to be able to recreate your issue.

Are you using a fuzzer of some type? Perhaps sending signals to the underlying nmap child processes?

Can you provide the test code you are using and the returned stack? Perhaps enable verbose and report back?

[2017-01-21 12:00] lluiscab opened #44 "TypeError about IPV6"
`Uncaught Exception:
TypeError: v6.Address is not a constructor
    at Object.command (.../node_modules/node-libnmap/lib/node-libnmap.js:253:16)
`

[2017-01-21 13:21] jas- commented on #44
No certain about the version or installation method you are using but v0.3.9 is the latest and can be installed with 'npm install libnmap'

[2017-01-21 13:57] lluiscab commented on #44
Okay I've updated the module but now I'm getting this :S
`Uncaught Exception:
TypeError: Cannot read property 'split' of undefined
    at Address6.parse4in6 (.../node_modules/ip-address/lib/ipv6.js:537:23)
    at Address6.parse (.../node_modules/ip-address/lib/ipv6.js:569:18)
    at new Address6 (.../node_modules/ip-address/lib/ipv6.js:92:29)
    at Object.command( .../node_modules/libnmap/lib/lib

[2017-01-21 16:24] jas- commented on #44
Are you following the documentation? Do you actually have some network configuration on any installed interfaces? Have you examined the examples for usage?

I need more to go on to assist you. Please provide details of OS, network config and code examples

[2017-01-21 16:26] lluiscab commented on #44
`scanner.scan({ range: ['192.168.1.0/24'], ports: 8 }, function(err, report) {

				if (err) console.error(err);

				report.forEach(function(item){
					console.log(item[0]);
				});

			});`

Ubuntu 16.04, Using IPs of class C (192.168.1.0) and a network mask of 24

[2017-01-21 17:22] jas- commented on #44
Your original description speaks specifically of IPv6 and yet you only describe the IPv4 CIDR range of your NAT.

Have you tried the ports example provided [here](https://github.com/jas-/node-libnmap/blob/master/examples/ports.js)

[2017-02-07 11:29] jas- commented on #36
@cscholze Since this is nearing a year and I have not seen any additional correspondence I am marking this as resolved. If you experience issues don't hesitate to open a new issue.

[2017-02-07 11:29] #36 closed

[2017-02-07 11:30] jas- commented on #43
@xllab I have not seen a test case to illustrate your issue. Is this still a problem?

[2017-02-07 11:32] jas- commented on #41
@charlesfracchia Is this still an issue? I have a limited testing environment with regards to a full functioning IPv6 network which could be the issue. Any additional information you can provide to help resolve the issue is appreciated.

[2017-02-07 11:33] jas- commented on #44
@lluiscab Are you still experiencing issues?

[2017-02-07 14:02] lluiscab commented on #44
It actually fixed itself for some reason... ;)

[2017-02-07 20:42] jas- commented on #44
Good to hear, thanks for reporting it

[2017-02-07 20:42] #44 closed

[2017-02-16 12:03] jas- commented on #43
@xllab I am closing this issue due to lack of information regarding a use case. If are still experiencing issues and you can provide a use case don't hesitate to open a new issue.

[2017-02-16 12:03] #43 closed

[2017-03-20 17:31] ZackMattor commented on #41
I'm currently hitting this... using flags `-sS` and the range being a single ipaddress. Any idea on how I can help debug?

[2017-03-20 21:27] ZackMattor commented on #41
When I hit this error both of these lines get hit.

https://github.com/jas-/node-libnmap/blob/master/lib/libnmap.js#L146-L149

It seems that the correct callback gets called, but within that callback we hit this error `[TypeError: Cannot read property 'map' of undefined]` so then it calls the `cb` in the `catch`...

I'm not sure what is being passed to that method that is causing this error...

[2017-03-20 21:45] ZackMattor commented on #41
Found it! If there is any kind of error in the callback in `nmap.scan` it triggers this... and this was only happening for me in a very certain case.

[2017-07-03 23:22] latifs commented on #41
Hey @JonSilver,
Can you have an example of try...catch block that fixed it?
Thanks

[2017-07-03 23:44] latifs commented on #41
Hey guys just ran the tests and this is what I get:

nmap
    discovery method
      ✓ validate report (208ms)
      1) validate report

  nmap
    error handling
      ✓ missing nmap binary
      ✓ invalid host range (host)
      ✓ invalid host range (range)
      ✓ invalid host range (CIDR)
      ✓ invalid port range
      ✓ invalid flag options (288ms)
      ✓ unspecified range

  nmap
    scan

[2017-07-04 01:54] jas- commented on #41
@latifs could you provide output from 'console.log(require('os').networkInterfaces())'?

[2017-08-01 08:31] qq351844 opened #45 "Can I get the OS version?"
I want to use the nmap to detect the Class C IP.
But I want to get the OS version of host.
This lib can get the OS information?

Thank you for your help~

[2017-08-01 10:42] jas- commented on #45
Have you read the accompanying README documentation? While cliche it would have provided you with the [following](https://gist.github.com/jas-/eae6b0c6e82a4e072b97#file-flags-js) example. The documentation covers the majority of use cases and options available.

[2017-08-09 06:58] lonelywolf4git opened #46 "Is it possible to discover network topology which including subnet work ?"
Hi:
I want to do the large network topology discovery, which includes routers,switches(L2/L3).I also want to know their connect relationship, for example , switch connect to router, router connect to switch ,and so on,thanks for your response

[2017-08-09 13:00] jas- commented on #46
So an OS fingerprinting scan would provide the OS leading to the possible device type. Most switches and routers would range between a .1, .29, .254 address for IPv4 and would run an embedded OS such as ios for Cisco devices.

With regards to providing their relationships you could make use of the 'flags' option and provide the nmap tracerpute option to give you the hops which in turn gives you th

[2017-08-12 08:16] jotamartos opened #47 "Wrong scanned IPs when running the library"
Hi,

First of all, thank you for your work. I started using this module some time ago and I've just found a bug when using it.

**My code**

[code]

**Expected**

I wanted to scan that range and obtain the results

**Result**

This is the debug output

[code]

As you can see, those IPs are not valid ones. I didn't copy here the result (let me know if you need it).

**When**

That happens when sett

[2017-08-13 18:10] jas- commented on #47
@jot

[2017-08-14 07:25] jotamartos commented on #47
Hi @jas-,

I've just tested the latest version v0.4.2 and the application is totally useless. When you try to scan one range, it uses the CIDR + 1, I mean, you scan a /30 when setting a /29, you can't either use IP/32 because it scans nothing. Could you please take a look at it?

Can I also suggest you something? I looked for some NPM packages to split ranges some days ago and I found the one that

[2017-08-14 11:09] jas- commented on #47
Good monring @jotamartos,

You are right, I pushed `v0.4.2` in haste. Please use `v0.4.3`. I have addressed the calculations for smaller subnets (when coupled with the default `blocksize` option is when the issue would occur).

I have also added a remedial test harness to iterate and scan all of the Class A, B & C (non-routeable) address spaces.

Hope it helps, let me know if you come across anyth

[2017-08-14 18:58] jotamartos commented on #47
Hi @jas-,

I've just tested the latest version (0.4.3) and it worked as expected but I noticed that it's passing an entire list of IPs when scanning "big" ranges, for example, it launches several of these lines when scanning a /24

[code]

The version 0.3.9 showed something like this:

[code]

(PS: I've just noticed that the .0 IP was not scanned, this problem is also fixed in the 0.4.3)

As I men

[2017-08-14 21:41] jas- commented on #47
Good to hear.

I thought about your idea as I was implanting the fix but decided against it becuase that division only happens when a CIDR range is specified as one of the array of hosts elements.

[2017-08-16 11:00] jas- commented on #46
@lonelywolf4git well learned something new.

Looks like there is and NSE script that performs [the geoip lookup](https://nmap.org/nsedoc/scripts/traceroute-geolocation.html) when using the traceroute flag.

Use case;

[code]

[2017-08-16 18:34] jotamartos commented on #47
Hi again @jas- ,

I'm sorry but I have bad news and it's related with the CIDR + 1 issue but I'll explain it a bit more:

- 1 case: Scan 192.168.56.0/23

This works properly. I can see the NMAP jobs from 56.0 to 57.255. I assume it also works with bigger ranges.

- 2 case: Scan 192.168.56.0/24

This works properly. I can see the NMAP jobs from 56.0 to 56.255

- 3 case: Scan 192.168.56.0/25 -- The

[2017-08-17 11:24] jas- commented on #47
@jotamartos Can you try version `v0.4.4`, it is not yet available through NPM so you will have to change your package.json to reflect the github branch that reflects the fix.

[2017-08-17 18:10] jotamartos commented on #47
Awesome! I've just tested it and it worked properly, this is the debug information when scanning a /25 range.

[code]

I think we can close this again, feel free to do it when updating master 👍

[2017-08-19 14:58] #47 closed

[2017-08-23 03:55] qq351844 commented on #45
thx for your remind.
I could do it successful.

[2017-08-23 03:55] #45 closed

[2017-08-24 14:43] #46 closed

[2017-08-24 14:52] jas- commented on #41
@charlesfracchia, @latifs, @JonSilver, @ZackMattor; I am closing this issue as `legacy` due to the minor version updates and lack of activity on this issue.

If you update and encounter the same issue please create a new issue and report the following information so I can address it more accurately;

1. The versions; node, npm, os etc.
2. The libnmap version
3. The method being used; i.e. discover

[2017-08-24 14:52] #41 closed

[2017-10-12 12:10] rfma opened #48 "nmap param "-F""
if i set flags: [-F], there will be error:
libnmap/node_modules/async/dist/async.js:903
        if (fn === null) throw new Error("Callback was already called.");
                         ^
Error: Callback was already called.

then, i exec nmap command line, the tips:
You cannot use -F (fast scan) with -p (explicit port selection) but see --top-ports and --port-ratio to fast scan a range of ports

[2017-10-13 02:12] #48 closed

[2017-11-25 16:05] HarryBurns opened #49 "hasbin and windows global path"
hasbin is unable to resolve global windows paths like "C:/Program Files (x86)/Nmap/nmap".

Why do you use glitchy hasbin package instead of https://nodejs.org/api/fs.html#fs_fs_access_path_mode_callback or something like that?

Could you fix it, please?

[2017-11-25 18:21] jas- commented on #49
Are you proposing a patch or solution or just want to move from a `synchronous` to `async` file system call?

[2017-11-26 02:05] HarryBurns commented on #49
I just want to use global windows path like "C:/Program Files (x86)/Nmap/nmap.exe" in `nmap` config param.

[code]

[2017-11-26 15:18] jas- commented on #49
Sounds like a big with the `hasbin` library

[2017-11-27 10:16] leochan007 opened #50 "terminal can't echo correctly after scan."
var nmap = require('libnmap')
  , opts = {
      range: [
        '192.168.10.170',
        '192.168.10.175',
        '192.168.10.176'
      ]
    };

nmap.scan(opts, function(err, report) {
  if (err) throw new Error(err);

  for (var item in report) {
    console.log(JSON.stringify(report[item]));
  }
  console.log("before process.exit()");
  process.exit();
});

after scan, terminal can't echo

[2017-11-27 14:27] jas- commented on #50
How many nodes are you scanning? A class A network? What terminal are you using? What kind of buffer does the terminal use? I am going to need additional details to assist

[2017-11-28 03:26] leochan007 commented on #50
ubuntu 16.04 terminal.

one host(192.168.10.170) is OK.  if more than 2 hosts or a host range( 192.168.10.170/24) , it shows wrong.

[2017-11-28 14:47] jas- commented on #50
It shows wrong?

Now I am confused, your first issue says you cannot use the terminal after the stdout scam results and now you are hinting at wrong results from the scan.

Can you please provide the use case, I.e. actual code used and the output? Keep in mind there are plenty of examples in the accompanying examples folder.

Those examples do not use the `process.exit()` call within the callback

[2017-11-29 01:30] leochan007 commented on #50
var nmap = require('libnmap')
  , opts = {
      range: [
        '192.168.10.170/24',
        '127.0.0.1'
      ]
    };

// tips: 192.168.10.x  is the host range, replace it in your env.

nmap.scan(opts, function(err, report) {

  if (err) throw new Error(err);

  for (var item in report) {
    console.log(JSON.stringify(report[item], null, 2));
  }
});

[2017-11-29 01:43] leochan007 commented on #50
the bottom line shows wrong. the terminal can't echo any characters i type after exec node [filename].js which include the code above.

![screenshot from 2017-11-29 09-32-02](https://user-images.githubusercontent.com/1071537/33353635-b1ab62b6-d4e9-11e7-9c89-0d9f5ea32398.png)

[2017-12-01 19:51] jas- commented on #49
@HarryBurns I have applied a fix in `v0.4.8` to check the absolute path if the `process.env.PATH`.

[2017-12-01 19:59] jas- commented on #50
@leochan007 I am unable to recreate the issue.

Can you drop to a node shell and try?

Example:

[code]

I just tested it a few different ways and am unable to recreate your problem.

[2017-12-24 18:00] jas- commented on #49
@HarryBurns Any update or confirmation of resolution?

[2017-12-24 18:02] jas- commented on #50
@leochan007 Any additional details?

[2017-12-25 02:11] HarryBurns commented on #49
@jas- Oops, sorry, missed your message.

Just checked - everything works fine, except one note - it does not understand spaces in the path. So I just added quotes to the `nmap` option.
[code]
I believe you can wrap the path automatically? Anyway, everything works fine now on Windows. Can't check on Linux or Mac.

[2017-12-25 09:44] jas- commented on #49
Have you tried single quotes & double quotes?

[2017-12-25 12:07] HarryBurns commented on #49
Only double quotes. I believe single quotes will not work on windows machines. Can't tell about Linux or Mac.

[2018-01-31 21:04] alundiak commented on #22
@jas-

And yes indeed, for me. Now, 2018 year :) using nodescan v0.7.1
I use nmap 7.60

[2018-03-02 10:36] raphaelsoul opened #51 "Error: Callback was already called (again again again)."
[code]

I am using `libnmap@0.4.9`.
sorry for again again again 🤣

[2018-03-02 13:16] jas- commented on #50
I am going to have to close this out as I cannot recreate the issue and have yet to hear back about the problem.

[2018-03-02 13:16] #50 closed

[2018-03-02 13:18] jas- commented on #49
@HarryBurns I don't have a Windows system available. Can you try the following example?

[code]

[2018-03-02 18:19] jas- commented on #51
@raphaelsoul since this issue is happening with the `discover` method, can you enable debugging with `{verbose:true}` in the `examples/discover.js` example file and post the output? Thanks.

[2018-03-05 03:03] HarryBurns commented on #49
@jas- yeah, it works

[2018-03-05 03:36] raphaelsoul commented on #51
if only set `verbose`, throw error as bellow:
[code]
@jas- seems caused by default options

when i set `{ verbose: true,  range: ['192.168.0.0-255']}`, function `discover` runs without error.

[2018-03-05 03:52] jas- commented on #51
Are you using `OSX`? Can you provide details on your network stack and node.js version as well?

[2018-03-05 03:53] jas- commented on #49
Awesome, closing it out.

[2018-03-05 03:53] #49 closed

[2018-03-05 04:04] raphaelsoul commented on #51
[code]

[code]
Yes, osx. Detail above

[2018-03-05 06:38] jas- commented on #51
Awesome. Thank you for that. I believe the bug is with two interfaces using `IPv6`.

What is the output of `console.log(require('os).networkInterfaces()`

[2018-03-05 07:57] raphaelsoul commented on #51
macOS:
[code]

Linode:
[code]

[2018-03-05 15:27] jas- commented on #51
Hmm, I think I have a typo... can you remove the ` ` on [line #253](https://github.com/jas-/node-libnmap/blob/v0.4.9/lib/libnmap.js#L253) and try?

[2018-03-21 07:08] jas- commented on #51
Can you try the latest branch `v0.4.11`? I think your multiple addresses per interface was not being handled, this branch should now support the `RFC 7934` & `RFC 4218 & 4219`

[2018-03-21 07:25] raphaelsoul commented on #51
[code]

[2018-03-21 07:28] jas- commented on #51
Could you run the `node examples/discovery.js` example with `{debug: true}` enabled? The first couple of lines should provide the CIDR notation per interface found for discovery. That is what I would like to see since I do not have a good test environment ATM to replicate your configuration.

[2018-03-21 08:06] raphaelsoul commented on #51
if set `{ debug:true }` only:
[code]

yet i tried
[code]

[2018-03-21 09:51] jas- commented on #51
You may need to re-clone `v0.4.11` to commit [722fea8](https://github.com/jas-/node-libnmap/commit/722fea8cc93ad30408d1ee2a49945d73dd5978c6)

[2018-03-21 12:03] codereach-asm opened #52 "opts.flags.push is not a function"
{ range: [ '1.2.3.4' ], ports: '1-65535', flags: ' --open ' }

TypeError: opts.flags.push is not a function
    at Object.init (/usr/src/app/node_modules/libnmap/lib/libnmap.js:97:20)
    at nmap.scan (/usr/src/app/node_modules/libnmap/lib/libnmap.js:680:12)
    at Promise (/usr/src/app/nmap-port-scan.js:116:11)
    at Promise (<anonymous>)
    at doOneScan (/usr/src/app/nmap-port-scan.js:107:9)

[2018-03-21 12:06] jas- commented on #52
@codereach-asm Not sure what you are asking or even saying.

[2018-03-21 15:24] codereach-asm commented on #52
Sorry - just got frustrated that the attempt to add a flag to the options object didn't seem to work.

Please ignore and close if this is expected functionality

[2018-03-21 15:45] jas- commented on #52
Asking for assistance requires more information than you provide. A use case, the version you are using of the libnmap module, the version of nodejs, your operating system or even results of the bundles examples might help. There is a good checklist of things that make [asking questions](https://hbr.org/2009/05/real-leaders-ask.html) easier for all parties involved.

[2018-03-21 15:51] codereach-asm commented on #52
Thanks. I'll check the link. Closing issue now.

[2018-03-21 16:18] jas- commented on #52
The link provides information on how to ask questions.

The amount of I formation you provided does not help me help you to determine the problem.

Generally when someone has an issue a description and sometimes a sample of code along with the error allows for me to recreate the problem to determine if it is a bug or something else.

I have reopened the issue in hopes you could provide the code yo

[2018-03-21 18:17] jas- commented on #52
You are using a string vs an array as the `flags` option.

Perhaps you should try;

`range: [ '1.2.3.4' ], ports: '1-65535', flags: ['--open'] }`

[2018-03-28 08:09] #52 closed

[2018-09-07 04:48] noMoneyNoProblems opened #53 "Running multiple scans with ports specified causes validation to fail"
Hey there,

First off, thanks for the great library. It really makes using nmap easier in node!

The guys on my team noticed a little bug that should be super simple to fix.

**Problem:**

Running two scans with the ports specified causes validation to fail with the following message:

**Cause:**

In lib/classes/validation.js the patterns.ports regexp produces alternating values when calling .test

[2018-09-07 07:03] lirantal opened #54 "Security issue"
Hello,

As a member of the [Node.js Security WG](https://hackerone.com/nodejs-ecosystem)
I would like to draw your attention to a security report that has been made regarding this issue.

I have made attempts to contact the person identified as a maintainer of this package but did not get any answer. What is the best way to reach someone with commit rights over this repo and hopefully npm publishi

[2018-09-07 10:27] jas- commented on #54
What package are you referring to? Perhaps the dependency and issue I have raised with the included [cidr-js](https://github.com/krg7880/cidr-js/issues/4) package?

[2018-09-07 10:29] jas- commented on #53
I am confused as to why you run two instances when you simply specify both ports and multiple nodes or networks to scan as demonstrated in the examples folder.

If there is a genuine reason for implementing your scan this way you may want to refactor.

[2018-09-07 10:41] lirantal commented on #54
Hi @jas-
Thanks for the quick reply!

Referring to this library actually. Can you jump in on the HackerOne invite? you should see it in your inbox (or maybe spam folder) ?

[2018-09-07 10:48] jas- commented on #54
We can discuss it here.

[2018-09-07 11:15] lirantal commented on #54
The purpose of inviting you to discuss the issue in a private forum is to protect users of this library so that we don't disclose the vulnerability without you releasing a fix in time to address the issue and leaving users of this library vulnerable for that period of time until a fix is deployed.

[2018-09-08 11:14] jas- commented on #54
Such is a normal notification process for projects and applications that are high impact with regards to dependencies and adoption.

While this project does indeed garner some use. The impact of a security vulnerability, with regards to local or even remote compromise, would be small in numbers.

Perhaps this would seem reckless, but I am all about the open forum and the idea that any users of thi

[2018-09-09 07:14] lirantal commented on #54
Once we resolve the issue reported we will be happily disclosing the report publicly.

[2018-09-10 00:59] noMoneyNoProblems commented on #53
Hey jas-,

Thank you for the quick response.

If you'll allow me to explain our motivation for running multiple scans - we wish to monitor services running on individual ports, in a periodic fashion.

Ideally, as you say, we could scan all necessary ports at the same time. But it could be the case we need to scan different ports at different times, and therefore need separate scans.

As an example

[2018-09-10 11:07] jas- commented on #53
You could submit a pull request for this. It would have to pass ALL cases for the `ports` options; i.e. singular, ranges & mixed... (`npm test`)

[2018-09-11 23:43] jas- commented on #54
Ok, could you go ahead and disclose it on this forum so I may address it. Thanks.

[2018-09-13 22:42] edgahan commented on #53
Just wanted to add this bug caught me out today as well. For what it's worth we don't run two instances at the same time, but a long running process that consumes from a queue and it was flip-flopping on the validations as above.

[2018-09-13 23:05] jpstevens commented on #53
Alternative fix here - https://github.com/jas-/node-libnmap/pull/56

[2018-09-14 03:35] jas- commented on #53
@jpstevens & @noMoneyNoProblems; thanks for bringing this to my attention.

I have addressed the two issues with a patch that should eliminate the problems with the `\g` when using the `str.test(regex)` function.

The library was moved to a `str.match(regex)` method matching then re-assembling the `opts.ports` value as a string which is compatible with the [nmap](https:/nmap.org/book/man-port-spec

[2018-09-14 08:53] jpstevens commented on #53
Thanks for the quick response @jas- - much appreciated!

[2018-09-26 11:12] jas- commented on #53
Thanks for reporting this. Marking as resolved in v0.4.13

[2018-09-26 11:12] #53 closed

[2018-09-26 11:13] jas- commented on #54
@lirantel could you please respond?

[2018-10-19 04:42] jas- commented on #54
Thanks, I appreciate any information you or anyone else can provide to make sure this project isn’t insecure for implementors.

However, I am not really sure that I would consider this a security issue as the context of exploit is already mitigated by the running user of the libnmap application would already have access to commands and the need for an existing account on the system in question in

[2018-10-19 06:09] lirantal commented on #54
Hi Jas,

I'm not sure I understand what you mean by mitigation or why it's irrelevant.

Let's say someone is building a CLI ontop of your lib, or say a web UI. They allow users to provide input as range. If that range is not sanitized and can cause command execution how is it not a vulnerability? Are you expecting to put this responsibility of sanitizing user input passed to options on the user? I

[2018-10-19 12:31] jas- commented on #54
Which is why in that same discussion I brought up the use case of binding this to a web application which 1 shouldn't run as root and 2 would be mitigated by the running users restrictions. But yes I would expect web app devs to sanitize input but does not negate the finding you informed me of either.

Regardless, thank you again for finding this. Was a CVE ever assigned? Were you able to verify c

[2018-10-22 12:06] lirantal commented on #54
Sounds good. I'll request a CVE accordingly that recognizes 0.4.16 as the upgrade path.
Thanks @jas-

[2018-10-22 18:07] #54 closed

[2018-10-23 00:29] jas- commented on #51
@raphaelsoul I am going to close this as the latest is now `v0.4.16`. If this is still an issue please provide additional details using the `verbose: true` option with the provided [discover.js](https://github.com/jas-/node-libnmap/blob/master/examples/discover.js). Thanks.

[2018-10-23 00:29] #51 closed

[2018-10-25 10:35] jas- commented on #54
@lirantal Could you provide the CVE so I can ensure a message is presented for older versions on why they should upgrade? Thanks.

[2018-10-26 15:14] lirantal commented on #54
Yep. Already requested one when I closed the report with your 0.4.16 fix.
It takes a bit until it gets approved by HackerOne and then assigned by MITRE so just follow-up on the hackerone report that is public now and you should see the CVE assigned soon (I estimate in a few weeks).

[2019-01-05 17:18] sergio-domingues opened #58 "Categorize devices"
Is it possible to have a description of the device associated to each IP address? When one access the web interface of a local router it is available a list of devices with the device name and IP, it would be useful to access this information. Thanks in advance!

[2019-01-05 18:08] jas- commented on #58
Like the OS and/or device type? Have you read the README regarding examples provided? It has already been provided.

[2019-01-05 18:44] sergio-domingues commented on #58
Yes, I mean the OS and device type. I had only traversed the reports and didn't found any reference to those parameters. Now I've checked the flags.js example, which has the OS flag but did not find anything about the device type. I was trying to run this example locally but it fails, I'm guessing it's due to be running it on windows. Is it only supported on linux/osx ?

[2019-01-06 14:41] jas- commented on #58
@sergio-domingues
Telling me that the example fails doesn't give me much to go on. What failed? Did you receive and error message? Did you provide the necessary administrative credentials prior to running the scan?

Perhaps I should provide some resources that are readily available to you already that perhaps you are unaware of with regards to the user manual for the nmap tool. [nmap OS detection]

[2019-05-15 14:07] eladhk opened #59 "unable to add flag with spaces"
hi
I can't add a flag with space
my example:
`  flags: [
        '-sV',
        '-Pn',
        '--script http-headers',
        '--script-args http.useragent="Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/73.0.3683.86 Safari/537.36"'
]`

this will create a shell nmap command:
`nmap --host-timeout=900s -sV -Pn --script http-headers --script-args http.userag

[2019-05-28 10:46] jas- commented on #59
That may be the only solution from what I am finding.

[2019-07-18 11:09] jas- commented on #59
@eladhk Have you tried adjusting your `flags` to something like the following?

[code]

[2019-10-29 00:19] weiyin opened #61 "Documentation error: timeout option is in seconds, not minutes"
The timeout option is used like this:

--host-timeout=${opts.timeout}s

The units are seconds, not minutes.

[2019-10-29 01:49] jas- commented on #61
Thanks. So like this [example](https://github.com/jas-/node-libnmap/blob/master/examples/timeout.js)?

[2019-10-29 02:06] weiyin commented on #61
The example is good, the problem is on the README.md where it says:

timeout {Number} Number of **minutes** to wait for host/port response

[2019-10-30 10:28] jas- commented on #61
Thanks, this just landed.

[2019-10-30 10:28] #61 closed

[2019-12-03 03:40] noMoneyNoProblems opened #62 "libnmap does not return full child_process error"
**Summary:**
I noticed that the nmap executable called by libnmap was failing, but the error message contained no description of what caused it to fail. I'd like to see the the full error caught by node in the future.

But before the details, I want to offer my thanks to jas- for creating a simple library that makes it so easy to call nmap from javascript. I'm sure it was a lot of effort, and I've

[2019-12-03 11:36] jas- commented on #62
Thanks for reporting this. The error handling doesn't bubble up here for any OS, pull requests and patches are welcome! Use the [contributing](https://github.com/jas-/node-libnmap/blob/master/CONTRIBUTING.md) document to help. I simply do not have the time to resolve it before the end of the year.

[2019-12-05 03:04] noMoneyNoProblems commented on #62
Hey, thanks a lot for the quick response jas-!

I'll look into it, and send you a patch before Christmas.

Cheers!

[2020-02-11 00:19] #59 closed

[2020-06-01 09:56] lucas-miak opened #65 "Error: Error: spawn nmap ENOENT"
I'm trying to get all the devices connected on the network but I'm having this error.
[code]
Main.js
[code]

[2020-06-01 10:03] Rickyc81 commented on #65
Me too.. same error..

[2020-09-08 22:38] FiveOFive opened #66 "Extra space is causing an invalid target in every scan result"
An extra space is causing an invalid target in every scan result.

**Details to reproduce:**
Run a scan such as the code below:

[code]

The output, contains an invalid target entry with empty specification.

[code]

And there are two spaces in the args between the ports and the host

[code]

I submitted a pull request to fix this - https://github.com/jas-/node-libnmap/pull/64
Thanks for the great

[2021-03-05 17:48] StuboUK commented on #65
If you haven't set the nmap binary path, you need to set the environment variable in windows.

[2021-03-17 10:56] wangcl666 opened #67 "progress bar"
How do I get scan progress

[2022-03-09 01:32] jas- commented on #67
Use the command line nmap binary. This helps automation which ignores signals from the keyboard. Well, with the exception of the standard SIGHUP

[2022-03-09 01:32] #67 closed, assigned to nobody